body {
    font-family: sans-serif;

    margin: 0px;
}


header {
    padding: 11px;
    padding-right: auto;

    background-color: #bbdefb;
}


h1 {
    margin: 0px;
}


#date {
    text-align: center;
    font-size: min(5vw, 40px);

    margin-top: 35px;
}
