@font-face {
    font-family: 'Nyashi';
    src: url('fonts/Nyashi.woff2') format('woff2'),
        url('fonts/Nyashi.ttf') format('truetype');
}


body {
    font-family: 'Nyashi', 'M PLUS Rounded 1c', sans-serif;

    margin: 0px;
}


header {
    padding: 11px;
    padding-right: auto;

    background-color: #bbdefb;
}


h1 {
    margin: 0px;
}


#date {
    text-align: center;
    font-size: min(6vw, 40px);
    font-weight: 500;

    /* 表示を画面中央にする */
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


footer {
    padding-left: 5px;

    position: absolute;
    bottom: 0;
}


a {
    color: #1565c0;
}
