@font-face {
    font-family: 'Nyashi';
    src: url('fonts/Nyashi.woff2') format('woff2');
}

@font-face {
    font-family: 'Jiyucho';
    src: url('fonts/Jiyucho.woff2') format('woff2');
}


* {
    font-family: 'Nyashi', sans-serif;

    margin: 0;
    padding: 0;
}


header {
    padding: 15px;
    padding-right: auto;

    background-color: #bbdefb;
}


h1 {
    font-family: 'Jiyucho', sans-serif;
    font-weight: normal;
}


#date {
    text-align: center;
    font-size: min(8vw, 50px);
    line-height: 1.5;

    /* 表示を画面中央にする */
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
